Repository ArduCustom/ardupilot, pull requests merged in 2022-02, with the labels that each got.

#79 OSD: add script to be able to regen MCM font files from the PNG grids
  libraries/AP_OSD/fonts/regen_mcms.sh
Labels: OSD

#80 OSD: add dB, dBm, SNR, antenna, left and right arrow characters
  libraries/AP_OSD/AP_OSD.h
  libraries/AP_OSD/AP_OSD_Backend.h
  libraries/AP_OSD/AP_OSD_Screen.cpp
  libraries/AP_OSD/fonts/bfstyle.mcm
  libraries/AP_OSD/fonts/bfstyle.png
  libraries/AP_OSD/fonts/bold.mcm
  libraries/AP_OSD/fonts/bold.png
  libraries/AP_OSD/fonts/clarity.mcm
  libraries/AP_OSD/fonts/clarity.png
  libraries/AP_OSD/fonts/clarity_medium.mcm
  libraries/AP_OSD/fonts/clarity_medium.png
  libraries/AP_OSD/fonts/digital.mcm
  libraries/AP_OSD/fonts/digital.png
  libraries/AP_OSD/fonts/font0.bin
  libraries/AP_OSD/fonts/font1.bin
  libraries/AP_OSD/fonts/font2.bin
  libraries/AP_OSD/fonts/font3.bin
  libraries/AP_OSD/fonts/font4.bin
Labels: OSD

#78 OSD: add CRSF RSSI dBm, SNR and active antenna items and add RF mode to the LQ item
  libraries/AP_OSD/AP_OSD.cpp
  libraries/AP_OSD/AP_OSD.h
  libraries/AP_OSD/AP_OSD_Screen.cpp
  libraries/AP_RCProtocol/AP_RCProtocol_CRSF.cpp
  libraries/AP_RCProtocol/AP_RCProtocol_CRSF.h
  libraries/AP_RCTelemetry/AP_CRSF_Telem.cpp
Labels: OSD

#82 Revert upstream change which broke SBUS
  Tools/IO_Firmware/iofirmware_f103_8MHz_highpolh.bin
  Tools/IO_Firmware/iofirmware_f103_8MHz_lowpolh.bin
  Tools/IO_Firmware/iofirmware_highpolh.bin
  Tools/IO_Firmware/iofirmware_lowpolh.bin
  libraries/AP_RCProtocol/AP_RCProtocol_SBUS.cpp
Labels: bug

#89 OSD: improve rangefinder altitude element aesthetics
  libraries/AP_OSD/AP_OSD_Screen.cpp
  libraries/AP_OSD/fonts/bfstyle.mcm
  libraries/AP_OSD/fonts/bfstyle.png
  libraries/AP_OSD/fonts/bold.mcm
  libraries/AP_OSD/fonts/bold.png
  libraries/AP_OSD/fonts/clarity.mcm
  libraries/AP_OSD/fonts/clarity.png
  libraries/AP_OSD/fonts/clarity_medium.mcm
  libraries/AP_OSD/fonts/clarity_medium.png
  libraries/AP_OSD/fonts/digital.mcm
  libraries/AP_OSD/fonts/digital.png
  libraries/AP_OSD/fonts/font0.bin
  libraries/AP_OSD/fonts/font1.bin
  libraries/AP_OSD/fonts/font2.bin
  libraries/AP_OSD/fonts/font3.bin
  libraries/AP_OSD/fonts/font4.bin
Labels: enhancement, OSD

#90 OSD: display rangefinder altitude only when data is available and sensor in range
  libraries/AP_OSD/AP_OSD_Screen.cpp
Labels: enhancement, OSD

#99 OSD: add remaining battery percentage element
  libraries/AP_OSD/AP_OSD.h
  libraries/AP_OSD/AP_OSD_Screen.cpp
Labels: OSD

#95 Fix documented units for OSDx_W_VERT_ACC
  libraries/AP_OSD/AP_OSD.cpp
Labels: documentation
